.exile{
    float: left;
    margin-right: 100px;
    margin-top: -10px;
    font-size: 45px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #131413;
}
ul{
    padding: 0px!important;
}
.menu{
    width: 100%;
    background-color: #131413;
    height: 60px;
}
main{
    position: relative; 
    margin: 0 auto;
}
.logo{
    float: left;
    width: 60%;
}
.redes-socias  ul  li{
    margin-left: 7px;
    display: inline-block;
    list-style: none;
}
.redes-socias{
    width: 25%;
    float: right;
}
.header-2{
    background-color: #131413;
    width: 980px; 
    margin: 0 auto;
    padding: 15px;

    transition: margin-left .25s;
}
.menu-urls{
    height: 80px;
    width: 100%;
    border-bottom: 20px solid #131413; 
}
.menu-2 > ul > li{
    display: inline-block;
    color: #ecebeb; 
    margin-left: 13px;
}
.menu-2 > ul > li > a{
    color: #252323;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "DejaVu Sans Mono", monospace;

    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
}
.menu-2 > ul > li > a:hover{
    color: #e7dfdf;
}
.menu-2{
    width:55%;
    float: left;
    background-color: #59b84d;
    background-image: linear-gradient(#59b84d, #47923d);
    border-radius: 25px;
    text-align: center;
}
.busca{
    width: 30%;
    float: right;
    margin-top: 1px;
}
.busca input{
    float: right;
    border-radius: 25px;
    height:36px;
    border: 1px solid #d6d6d6;
    margin-right: 66px;
    margin-top: 18px;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
    background-color: #131413;
}

.vao{
    margin: 0px; 
    background-color: #741b1b;
    background-image: linear-gradient(#5c1414, #741b1b);
    color:#e2cfd3;
    font-size: 49px;
    font-family: "DejaVu Sans Mono", monospace;
    padding: 15px;
}

.slider-principal{
    width: 980px;
    float: left;
    position: relative;
    left: 22%;
}
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 25px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    left: 0;
    top: 50%;
}
button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 25px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    right: 0;
    top: 50%; 
}
.slick-dots li button{
    font-size:  0px;
    border: none;
    padding: 0px;
}
.slick-dots li{
    display: inline-block;
}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 22%;
    top: 97%;
}
.slick-list{
    width: 100%!important;
}

body > main{
    background-color: #131413;
}

.sidenav {
    font-family: "DejaVu Sans Mono", monospace;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 12px;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    transition: 0.25s;
}

.sidenav-container {
    margin: 12px 24px 12px 0px;
    padding-bottom: 12px;
    border-radius: 2%;
    background-color: #272626;
}

.sidenav a {
    padding: 2px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #b4a5a5;
    display: block;
    font-weight: bold;

    -webkit-transition: color 0.2s, margin-left 0.1s;
    -moz-transition:    color 0.2s, margin-left 0.1s;
    -ms-transition:     color 0.2s, margin-left 0.1s;
    -o-transition:      color 0.2s, margin-left 0.1s;
    transition:         color 0.2s, margin-left 0.1s;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #b4a5a5;
    display: block;
}

.sidenav a:hover {
    color: #26c212;
    margin-left: 7px;
}

.sidenav img {
    margin: 10px 10px 10px 10px;
    border-radius: 15%;
    border-style: groove;
    border-color: #ddd4d4;

    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
}

.number-circle {
    vertical-align : middle;
    margin-left:12px;
    margin-bottom:12px;
    width: 42px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    color:#76a86f;
    border: 2px solid #409b34;

    -webkit-transition: color 0.5s, border 0.2s;
    -moz-transition:    color 0.5s, border 0.2s;
    -ms-transition:     color 0.5s, border 0.2s;
    -o-transition:      color 0.5s, border 0.2s;
    transition:         color 0.5s, border 0.2s;
}

.number-circle:hover {
    color:#add8a8;
    border: 2px solid #59b84d;
}

.Lista_Jogos {
    width: 55%;
    float: left;
    border-radius: 25px;
    text-align: center;
    color: #fff;
}
.Lista_Jogos > ul > li{
    padding : 15px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 10px;
}

.container{
    width: 100vw;
    height: 20vh;
    background: #6C7A89;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem{
    width: 100vw;
    height: 21.2vh;
    background: #6C7A89;
    display: flex;
    justify-content: center;
    align-items:center;
}
