body {
    background: rgb(8, 10, 12);

    animation: colorIn 3s;
    -webkit-animation: colorIn 3s;
    -moz-animation: colorIn 3s;
    -o-animation: colorIn 3s;
    -ms-animation: colorIn 3s;
}

@keyframes colorIn {
    0% {background: rgb(24, 24, 24);}
    80% {background: rgb(24, 24, 24);}
    100% {background: rgb(8, 10, 12);}
}

@-moz-keyframes colorIn {
    0% {background: rgb(24, 24, 24);}
    80% {background: rgb(24, 24, 24);}
    100% {background: rgb(8, 10, 12);}
}

@-webkit-keyframes colorIn {
    0% {background: rgb(24, 24, 24);}
    80% {background: rgb(24, 24, 24);}
    100% {background: rgb(8, 10, 12);}
}

@-o-keyframes colorIn {
    0% {background: rgb(24, 24, 24);}
    80% {background: rgb(24, 24, 24);}
    100% {background: rgb(8, 10, 12);}
}

@-ms-keyframes colorIn {
    0% {background: rgb(24, 24, 24);}
    80% {background: rgb(24, 24, 24);}
    100% {background: rgb(8, 10, 12);}
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.header-logo img {

    width: 25vw;

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    -moz-transition:    opacity 0.35s;
    -ms-transition:     opacity 0.35s;
    -o-transition:      opacity 0.35s;
    transition:         opacity 0.35s;
}

.header-logo img:hover {
    opacity: 1.0;
}

.row {
    display: flex;
}
  
/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

.column img {
    margin-left: 5.0%;
    width: 90%;
    height: 80%;
    object-fit: cover;

    animation: fadeIn-1 5s;
    -webkit-animation: fadeIn-1 5s;
    -moz-animation: fadeIn-1 5s;
    -o-animation: fadeIn-1 5s;
    -ms-animation: fadeIn-1 5s;

    opacity: 0.65;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: opacity 0.35s;
    -moz-transition:    opacity 0.35s;
    -ms-transition:     opacity 0.35s;
    -o-transition:      opacity 0.35s;
    transition:         opacity 0.35s;
    transition: transform .25s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.column img:hover {
    opacity: 1;
    transform: scale(1.15);
}

@keyframes fadeIn-1 {
    0% {opacity:0;}
    10% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}
  
@-moz-keyframes fadeIn-1 {
    0% {opacity:0;}
    10% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-webkit-keyframes fadeIn-1 {
    0% {opacity:0;}
    10% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-o-keyframes fadeIn-1 {
    0% {opacity:0;}
    10% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-ms-keyframes fadeIn-1 {
    0% {opacity:0;}
    10% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}



@keyframes fadeIn-2 {
    0% {opacity:0;}
    35% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
  }
  
@-moz-keyframes fadeIn-2 {
    0% {opacity:0;}
    35% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-webkit-keyframes fadeIn-2 {
    0% {opacity:0;}
    35% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-o-keyframes fadeIn-2 {
    0% {opacity:0;}
    35% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-ms-keyframes fadeIn-2 {
    0% {opacity:0;}
    35% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}



@keyframes fadeIn-3 {
    0% {opacity:0;}
    50% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
  }
  
@-moz-keyframes fadeIn-3 {
    0% {opacity:0;}
    50% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-webkit-keyframes fadeIn-3 {
    0% {opacity:0;}
    50% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-o-keyframes fadeIn-3 {
    0% {opacity:0;}
    50% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}

@-ms-keyframes fadeIn-3 {
    0% {opacity:0;}
    50% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.65;}
}



@keyframes fadeIn-4 {
    0% {opacity:0;}
    75% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.9;}
  }
  
@-moz-keyframes fadeIn-4 {
    0% {opacity:0;}
    75% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.9;}
}

@-webkit-keyframes fadeIn-4 {
    0% {opacity:0;}
    75% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.9;}
}

@-o-keyframes fadeIn-4 {
    0% {opacity:0;}
    75% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.9;}
}

@-ms-keyframes fadeIn-4 {
    0% {opacity:0;}
    75% {opacity:0;}
    85% {opacity:1.0;}
    100% {opacity:0.9;}
}



.header img {
    display:block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 10px;
}

/*sobre*/
.frame
{
    position: relative;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: rgb(13, 16, 19);

    padding: 15px 0px;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
   
}

.imagem-borda
{
    border-radius: 50%;
}

.caixa-de-texto
{
    max-width: 540px;
    background-color: #9b8e85;
    padding: 25px 15px;

    transition: transform .125s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.caixa-de-texto:hover {
    transform: scale(1.08);
}

.box-imagem
{
    margin-right: 50px;
    transition: transform .125s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.box-imagem:hover
{
    transform: scale(1.19);
}


/* Scrollbar ------------------------------ */
 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1e1e13;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
/* ---------------------------------------- */

