/*sobre*/
.frame
{
    position: relative;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: #252525;
    color:black;
    padding: 15px 0px;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}

.imagem-borda
{
    border-radius: 50%;
}

.caixa-de-texto
{
    max-width: 540px;
    background-color: #9b8e85;
    padding: 25px 15px;
}

.box-imagem
{
    margin-right: 50px;
}